*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, Times, Times New Roman, serif;
}

/* header area */
header{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#website-name{
    margin: 10px;
    color: rgb(160, 26, 26);
}

#log-out-btn{
    margin: 10px;
    padding: 0 10px;
    border: solid 2px rgb(160, 26, 26);
    border-radius: 50px;
    background-color: #ffffff;
    color: rgb(160, 26, 26);
}

#log-out-btn:hover {
    background-color:rgb(160, 26, 26);
    color: white;
    transition: 0.3s;
}

/* freeze the header*/
#freeze{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.main{
    margin-top: 20vh;
}

/* nav area */
nav{
    background-color: rgb(160, 26, 26);
    padding: 2vh 0 1vh 0;
}

nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}

nav a{
    text-decoration: none;
    padding: 8px;
    margin: 0 10px;
    border: 2px solid rgb(160, 26, 26);
    background-color: rgb(160, 26, 26);
    color: white;
    font-size: calc(10px + 1vw);
}

nav a:hover{
    background-color: white;
    color: rgb(160, 26, 26);
    transition: 0.3s;
}

/* user-options area */
#user-options{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px 10px;
}

#search-box{
    margin: 0 30px;
}

#search-txt{
    padding: 10px;
    font-size: calc(10px + 1vw);
    border: solid 2px rgb(160, 26, 26);
    margin-right: 0px;
}

#search-btn{
    padding: 10px;
    border: solid 2px rgb(160, 26, 26);
    background-color: #ffffff;
    color: rgb(160, 26, 26);
    font-size: calc(10px + 1vw);
}

#search-btn:hover {
    background-color:rgb(160, 26, 26);
    color: white;
    transition: 0.3s;
}

#draft-btn{
    margin-left: 30px;
    padding: 0 10px;
    border: solid 2px rgb(160, 26, 26);
    border-radius: 40px;
    background-color: #ffffff;
    color: rgb(160, 26, 26);
    font-size: calc(10px + 1vw);
}

#draft-btn:hover {
    background-color:rgb(160, 26, 26);
    color: white;
    transition: 0.3s;
}

/* main area  */
body{
    display: flex;
    flex-direction: column;
}

/* log out prompt  */
#logout-box{
    position: absolute;
    border: solid 4px rgb(160, 26, 26);
    background-color: white;
    padding: 2vh 2vw;
    z-index: -1;
    left: 30%;
    right: 30%;
    text-align: center;
    color:rgb(160, 26, 26);
    font-size: calc(10px + 1vw);
    margin: 1vh 0;
}


#logout-box button{
    padding: 0 10px;
    margin: 0 5px;
    border: solid 2px rgb(160, 26, 26);
    border-radius: 40px;
    background-color: #ffffff;
    color: rgb(160, 26, 26);
    font-size: calc(10px + 1vw);
}

#logout-box button:hover {
    background-color:rgb(160, 26, 26);
    color: white;
    transition: 0.3s;
}

/* creating a post prompt  */
#draft-box{
    position: absolute;
    border: solid 4px rgb(160, 26, 26);
    background-color: white;
    padding: 2vh 2vw;
    z-index: -1;
    left: 10%;
    right: 10%;
    text-align: center;
    color:rgb(160, 26, 26);
    font-size: calc(10px + 1vw);
    margin: 1vh 0;
}

#draft-box button{
    padding: 0 10px;
    margin: 0 5px;
    border: solid 2px rgb(160, 26, 26);
    border-radius: 40px;
    background-color: #ffffff;
    color: rgb(160, 26, 26);
    font-size: calc(10px + 1vw);
}

#draft-box button:hover {
    background-color:rgb(160, 26, 26);
    color: white;
    transition: 0.3s;
}

/* styling for tags display  */
#tagsautocomplete-list{
    position: absolute;
    border: solid 4px rgb(160, 26, 26);
    background-color: white;
    padding: 1vh 1vw;
    z-index: -1;
    left: 10%;
    right: 10%;
    text-align: center;
    color:rgb(160, 26, 26);
    font-size: calc(10px + 1vw);
    margin: 3vh 20vw;
}

#tagsautocomplete-list div{
    border: solid 2px rgb(238, 238, 238);
    border-radius: 30px;
    background-color:rgb(238, 238, 238);
    margin: 1vh 30%;
    font-size: calc(5px + 1vw);
}

#title, #content, #tags{
    height: 5vh;
    width: 70vw;
    margin: 10px;
}

/* styling for display name, not currently implemented  */
.display-name{
    margin-top: 7px;
    color: rgb(132, 48, 48);
}

/* where all posts are stored  */
#posts-box{
    background-color: rgb(255, 255, 255);
    filter: blur(0px);
    padding: 1vh 5vw;
}

/* specifications for posts  */
.post{
    margin: 5vh 5vw;
    padding: 2vh 2vw;
    border: solid 2px rgb(238, 238, 238);
    border-radius: 30px;
    background-color:rgb(238, 238, 238);
}

.post #post-title,h2{
    font-size: calc(10px + 1vw);
    margin-bottom: 1vh;
}

.post p,li{
    font-size: calc(10px + 1vw);
    list-style: none;
    margin-bottom: 1vh;
}

.post button{
    padding: 0 10px;
    margin: 0 5px 10px 5px;
    border: solid 1px rgb(160, 26, 26);
    border-radius: 40px;
    background-color: #ffffff;
    color: rgb(160, 26, 26);
    font-size: calc(7px + 1vw);
}

.post button:hover{
    background-color: rgb(160, 26, 26);
    color: white;
    transition: 0.3s;
}


.post input{
    padding: 1px;
    font-size: calc(7px + 1vw);
    border: solid 1px rgb(160, 26, 26);
    margin-right: 0px;
}

/* styling for tags, not currently implemented  */
.tags{
    display: flex;
    flex-direction: row;
    margin: 1vh 1vw 1vh 0;
    font-size: calc(8px + 1vw);
}

.tags button{
    padding: 1vh;
    border: none;
    background-color:rgb(160, 26, 26, 0.5);
    margin: 0 1vw 0 0;
    color: black;
}

.tags button:hover{
    color: white;
    transition: 0.3s;
}

/* about us page  */
#container{
    padding: 10vh 2vw 20vh 2vw;
    background-color: white;
}

#container h3{
    color:rgb(160, 26, 26);
    margin-top: 2vh;
    margin-bottom: 1vh;
    font-size: calc(10px + 3vh);
}

#container p{
    font-size: calc(6px + 3vh);
}

/* footer area  */
footer{
    background-color:rgb(160, 26, 26);
    color: white;
    display: flex;
    justify-content: center;
    padding: 2vh;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}
